.message{data: {message: {id: message.id}}}
  .message__top
    .message__top__name
      = message.user.name
    .message__top__date
      = message.created_at.strftime("%m/%d %H:%M")
  .message__text
    = simple_format(message.content)
