.side
  .side__group
    .group__name
      = @group.name
    .rating-star
      %i = class: "star-actived rate-<%= diary.point_average %>0"

  .side__goal
    .goal__text
      texttexttexttext
      texttexttexttext
      .goal__name
        name
    .goal__text
      texttexttexttext
      texttexttexttext
      .goal__name
        name