.side
  .side__group
    .group__name
      = @group.name
    .rating-star
      ☆

  .side__goal
    .goal__text
      texttexttexttext
      texttexttexttext
      .goal__name
        name
    .goal__text
      texttexttexttext
      texttexttexttext
      .goal__name
        name