.wrapper-my
  .my-header
    .my-header__left
    .my-header__center
      %a= "アカウント編集"
    .my-header__right
      %a= "menu"
  .diary-body
    .diary-body__top
      .diary-body__top__date
        %a= "2020/01/23"
      .diary-body__top__point
        %a= "★★★"
    .diary-body__bottom