.edit-wrapper
  .edit-header
    .edit-header__nickname
      nickname
    .edit-header__log-out
      log-out
  .body
    .edit-form
      .edit-form__message
        グループ登録
      .edit-group-create
        .edit-group__genre
          勉強
        .edit-group__name
          グループ名
      .edit-goal
        %input{type: "text", class: "new-goal__input", placeholder: "目標を入力してください   <例>毎日英単語帳を2ページ進める"}
      .edit-clear
        .edit-clear__text
          %input{type: "text", class: "new-clear__text__input", placeholder: "達成したら、したいこと   <例>グループメンバーでご飯を食べに行く"}
        .edit-clera__url
          %input{type: "text", class: "new-clear__url__input", placeholder: "達成したらしたいことの具体イメージ。(行きたいお店のURLなど)"}
      .edit-fail
        .edit-fail__text
          %input{type: "text", class: "new-fail__text__input", placeholder: "未達成の場合に、やること   <例>グループメンバーで反省会を開く"}
        .edit-fail__url
          %input{type: "text", class: "new-fail__url__input", placeholder: "未達成の場合にやることの、具体イメージ。(行くお店のURLなど)"}
      .edit-form__send
        %input{type: "submit", class: "new-submit-btn"}
