.he.header
  .nickname
  .log-out
.body
  .form
    .message
    .group-create
      .genre
      .name
    .goal
      .text
    .clear
      .text
      .url
    .fail
      .text
      .url
    .send