.header
  .name
    name
  .log-out
    log-out
.body
  .form
    .message
      グループ登録
    .group-create
      .genre
        勉強
      .name
        グループ名
    .goal
      .text
        毎日日記をつける
    .clear
      .text
        達成時にしたいこと
      .url
        http://sdfghgfdsd<
    .fail
      .text
        未達成時にしたいこと
      .url
        http://asdfghd
    .send