.diary-body {
  height: calc(100% - 100px);
  width: 100%;
  padding: 40px;
  color: $bw3;
  &__top {
    border: $bw3;
    padding: 0 110px;
    align-items: flex-end;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    &__date {
      padding-top: 10px;
      #diary_date_1i {
        height: 40px;
        width: 90px;
        background-color: $wh1;
        outline: 0;
        color: $bw3;
      }
      #diary_date_2i {
        height: 40px;
        width: 50px;
        background-color: $wh1;
        outline: 0;
        color: $bw3;
      }
      #diary_date_3i {
        height: 40px;
        width: 50px;
        background-color: $wh1;
        outline: 0;
        color: $bw3;
      }
    }
    &__point {
      font-size: 20px;
      .diary-point {
        height: 40px;
        width: 50px;
        background-color: $wh1;
        border-radius: 5px;
        border: #aaa 1px solid;
        text-align: center;
        outline: 0;
        color: $bw3;
      }

      .star-rating {
        font-size: 0;
        white-space: nowrap;
        display: inline-block;
        width: 250px;
        height: 50px;
        overflow: hidden;
        position: relative;
        background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
        background-size: contain;
      }
      .star-rating i {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 20%;
        z-index: 1;
        background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
        background-size: contain;
      }
      .star-rating input {
        -moz-appearance: none;
        -webkit-appearance: none;
        opacity: 0;
        display: inline-block;
        width: 20%;
        height: 100%;
        margin: 0;
        padding: 0;
        z-index: 2;
        position: relative;
      }
      .star-rating input:hover + i,
      .star-rating input:checked + i {
        opacity: 1;
      }
      .star-rating i ~ i {
        width: 40%;
      }
      .star-rating i ~ i ~ i {
        width: 60%;
      }
      .star-rating i ~ i ~ i ~ i {
        width: 80%;
      }
      .star-rating i ~ i ~ i ~ i ~ i {
        width: 100%;
      }
      .choice {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        padding: 20px;
        display: block;
      }
      *,
      ::after,
      ::before {
        height: 100%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-align: center;
        vertical-align: middle;
      }
      body {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      }
      body::before {
        height: 100%;
        content: '';
        width: 0;
        background: red;
        vertical-align: middle;
        display: inline-block;
      }

    }
  }
  &__bottom {
    padding: 10px 30px;
    width: 100%;
    height: 85%;
    text-align: center;
    &__text {
      height: calc(100% - 100px);
      width: 100%;
      padding-bottom: 15px;
      font-size: 28px;
      .diary-text {
        background-color: $wh1;
        border-radius: 5px;
        border: #aaa 1px solid;
        padding: 10px;
        width: 65%;
        outline: 0;
        height: 400px;
        color: $bw3;
        font-family: 'Shigoto';
      }
    }
    &__btn {
      margin: 0 auto;
      text-align: center;
      .diary-btn {
        outline: 0;
        background-color: #d8678f;
        height: 50px;
        width: 100px;
        border-radius: 5px;
        border: #fff 1px solid;
        color: #fff;
        font-size: 20px;
        &:hover {
          background-color: #a74e6d;
        }
      }
    }
  }
}

.diary-show {
  height: calc(100% - 100px);
  width: 100%;
  padding: 60px 50px 40px;
  color: $bw3;
  &__top {
    display: flex;
    justify-content: space-around;
    &__date {
      font-size: 20px;
      padding-left: 70px;
    }
    &__point {
      font-size: 20px;
      padding-right: 70px;
    }
  }
  &__bottom {
    margin: 0 auto;
    width: 60%;
    height: 85%;
    padding: 7px;
    &__text {
      height: calc(100% - 100px);
      width: 100%;
      padding: 7px 12px;
      font-size: 28px;
      background-color: #fffff6;
      border-radius: 5px;
      border: $bw3 1px solid;
      font-family: 'Shigoto';
    }
  }
}

.error {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  li {
    color: #cc3636;
    font-size: 18px;
    padding: 5px 10px;
  }
}