* {
  box-sizing: border-box;
}


.wrapper {
  display: flex;
  height: 100vh;
  color: #4d3c42;
  background: linear-gradient(to bottom, white 0%, palevioletred 100%);
  background: linear-gradient(to right, #c9ffbf, #ffafbd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #f4f3f7, #faaca8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/*side-barに関する記述*/

.side {
  width: 350px;
  height: 100vh;
}

.side__group {
  width: 270px;
  height: 70px;
  margin: 30px;
  padding: 20px;
  border-bottom: 1px solid #e6b8c8;
  display: flex;
  justify-content: space-between;

  .group__name {
    font-weight: bold;
    font-size: 20px;

  }

  .rank {
    padding-right: 15px;

  } 
} 



.side__goal {
  width: 250px;
  height: 500px;
  margin: 35px;
  overflow: scroll;

  .goal__text {
    width: 230px;
    height: 100px;
    margin: 12px;
    padding: 5px;

  }
}


/*mainに関する記述(header/diary/message/form)*/

.main {
  width: calc(100% - 350px);
  border-left: 2px solid #e6b8c8;
}

/*以下からheaderに関する記述*/
.main__header {
  padding-right: 20px;
  padding-top: 8px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  a {
    text-decoration: none;
    color: #4d3c42;
    font-size: 18px;
    font-weight: bold;
  }
  .header__name {
    padding-right: 10px;
  }
}

/*以下からdiaryに関する記述*/

.main__diary {
  width: 900px;
  height: 300px;
  margin: 30px;
  margin-left: 90px;
  overflow: scroll;
  box-shadow: 2px 2px 2px 2px #e6b8c8;

  .diary__top-box {
    display: flex;
    padding: 12px 12px 0 12px;

    .diary__name {
      padding-right: 30px;
      font-weight: bold;
    }

  }
  .diary__bottom-box {
    width: 900px;
    padding: 12px;
    .message__text {
      margin-bottom: 15px;
    }
  }
}

/*以下からmessageに関する記述*/

.main__message {
  // background-color: #e6b8c8;
  width: 900px;
  height: 300px;
  margin: 30px 30px 0 120px;
  padding: 15px;
  margin-left: 90px;
  padding-bottom: 15px;
  overflow: scroll;

}

.message__text {
  padding-bottom: 10px;
}

/*以下からformに関する記述*/

.main__form {
  height: 80px;
  width: 900px;
  padding: 10px;
  display: flex;


  .input-box {
    position: relative;
    height: 60px;
    width: 750px;
    margin: 0 auto;
    margin-right: 5px;
    right: 10px;
    display: flex;

    .input-box__form {
      height: 60px;
      width: 750px;
      
    }
  }

  .submit-btn {
    width: 100px;
    height: 50px;
    padding: 0 30px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    line-height: 50px;
    background-color: powderblue;
  }
}

