* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  color: #4d3c42;
  // background: linear-gradient(to right, #f4f3f7, #faaca8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*sideに関する記述*/

.side {
  width: 320px;
  height: 100vh;
  &__group {
    margin: 0 auto;
    width: 270px;
    height: 70px;
    padding: 7px 0;
    border-bottom: 1px solid #e6b8c8;
    font-weight: bold;
    &__name {
      font-weight: bold;
      font-size: 20px;
    }
    &__average {
      padding-right: 15px;
      text-align: right;
    } 
  }

  &__body {
    width: 100%;
    height: calc(100% - 70px);
    padding: 10px 10px 0 10px;
    &__message {
      width: 100%;
      height: calc(100% - 70px);
      padding-right: 5px;
      overflow: scroll;
      padding: 0 30px 0 10px;
      .message {
        background-color: #f4f3f7;
        border-radius: 5px;
        width: 100%;
        padding: 5px;
        margin: 5px;
        &__top {
          display: flex;
          justify-content: space-between;
          &__name {
            font-size: 12px;
          }
          &__date {
            font-size: 10px;
          }
        }
        &__text {
          padding-left: 3px;
          font-size: 15px;
        }
      }
    }
    &__bottom {
      width:100%;
      height: 70px;
      padding: 5px 0;
      .new_message {
        width: 100%;
        height: 100%;
        padding: 5px;
      }
      &__form {
        width: 100%;
        height: 100%;
        display: flex;
        .input-box {
          width: 85%;
          height: 100%;
          padding: 0 10px;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          border: #ddd 1px solid;
          outline: 0;
        }
        .submit-btn {
          width: 15%;
          height: 100%;
          background-color: #faaca8;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          border: #ddd 1px solid;
          color: $bw3;
          outline: 0;
          &:hover {
            background-color: #f38882;
          }
        }
      }
    }
  }
}

/*mainに関する記述*/

.main {
  width: calc(100% - 320px);
  height: 100vh;
  border-left: 1px solid #e6b8c8;
  overflow: scroll;
  background-image: url(unnamed.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 60px;
  &__header {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    a {
      text-decoration: none;
      color: #4d3c42;
      font-size: 18px;
      font-weight: bold;
    }
    &__menu {
      background-color: $pk1;
      text-align: center;
      line-height: 50px;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      font-size: 20px;
      position: fixed;
      top: 20px;
      right: 20px;
      font-size: 22px;
      color: #fff;
      &__join {
        // display: none;
      }
      &__name {
        // display: none;
      }
      &__log-out {
        // display: none;
      }
    }
  }

  &__body {
    height: calc(100% - 40px);
    width: 100%;
    padding: 20px 30px;
    &__top {
      width: 100%;
      height: 500px;
      background-color: #fffefe;
      box-shadow: 2px 2px 2px 2px #d6bebe;
      border-radius: 5px;
      padding: 10px 20px;
      margin-bottom: 30px;
    }
    &__middle {
      border-radius: 5px;
      &__pass {
        margin-bottom: 30px;
        background-color: #fffefe;
        box-shadow: 2px 2px 2px 2px #d6bebe;
        border-radius: 5px;
        &__text {
          padding: 5px 10px;
          width: 100%;
          font-size: 26px;
        }
      }
      &__fail {
        margin-bottom: 30px;
        background-color: #fffefe;
        box-shadow: 2px 2px 2px 2px #d6bebe;
        border-radius: 5px;
        &__text {
          padding: 5px 10px;
          width: 100%;
          font-size: 26px;
        }
      }
      a {
        text-decoration: none;
        font-size: 17px;
        color: $bw3;
      }
    }
    &__bottom {
      background-color: #fffefe;
      box-shadow: 2px 2px 2px 2px #d6bebe;
      border-radius: 5px;
      padding: 15px 5px;
      margin-bottom: 30px;
      height: 140px;
      width: 100%;
    }
  }
}

.ogp {
  display: flex;
  background-color: #fffefe;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
  height: 200px;
  width: 100%;
  // border-top: #f0dfdf 1px solid;
  &__img {
    height: auto;
    width: 300px;
    display: block;
    object-fit: contain;
  }
  &__bottom {
    height: 100%;
    margin-left: 5px;
    padding: 5px 20px;
    border-left: #d6bebe 1px solid;
    &__title {
      font-size: 25px;
      padding: 0 5px;
      &:hover {
        color: #705d55;
      }
    }
    &__content {
      color: $bw3;
      &:hover {
        color: #705d55;
      }
    }
  }
}



/*以下からdiaryに関する記述*/

// #myChart {
//   width: 900px;
//   height: 425px;
//   margin: 30px;
//   margin-left: 90px;
//   overflow: scroll;
//   box-shadow: 2px 2px 2px 2px rosybrown;
// }
