.wrapper-my {
  width: 100%;
  height: 100vh;
}

.my-header {
  height: 100px;
  width: 100%;
  padding: 0 40px;
  border-bottom: $bw3 1px solid;
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  background-color: $wh1;
  &__left {
    width: 30%;
    height: 100%;
    line-height: 100px;
    a {
      text-decoration: none;
    }
  }
  &__center {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    line-height: 100px;
    padding-left: 30px;
  }
  &__right {
    width: 30%;
    height: 100%;
    line-height: 100px;
    text-align: right;
  }
}

.my-main {
  background-color: $pk1;
  height: calc(100% - 100px);
  display: flex;
  padding: 0 40px;
  &__left {
    height: 100%;
    width: 40%;
    &__profile {
      height: 50%;
      font-size: 25px;
      align-items: center;
      &__name {
        height: 30%;
        padding: 40px 20px 20px;
      }
      &__email {
        height: 30%;
        padding: 40px 20px 20px;
      }
      &__goal {
        height: 30%;
        padding: 40px 20px 20px;
      }
    }
    &__diary {
      height: 50%;
      width: 100%;
      background-color: #fff;
      padding: 10px;
      &__top {
        height: 60px;
        width: 100%;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        &__date {
          font-size: 15px;
        }
        &__point {
          font-size: 20px;
        }
      }
      &__text {
        height: calc(100% - 60px);
        width: 100%;
        border-top: $bw3 1px solid;
        padding: 5px;
      }
    }
  }
  &__right {
    height: 100%;
    width: 60%;
    &__top {
      width: 100%;
      height: 60px;
      text-align: right;
      background-color: rgb(144, 233, 148);
      padding: 10px;
      display: flex;
      justify-content: flex-end;
      a {
        font-size: 20px;
        padding: 5px;
      }
    }
    &__bottom {
      width: 100%;
      height: calc(100% - 60px);
      padding: 10px;
      &__calendar {
        background-color: $wh1;
        height: 100%;
        width: 100%;
      }
    }
  }
}

