.wrapper-my {
  width: 100%;
  height: 100vh;
  color: $bw3;
}

.my-header {
  height: 100px;
  width: 100%;
  padding: 0 40px;
  border-bottom: $bw3 1px solid;
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  background-color: #f5e6eb;
  &__left {
    width: 30%;
    height: 100%;
    line-height: 100px;
    a {
      text-decoration: none;
      color: $bw3;
    }
  }
  &__center {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    line-height: 100px;
    padding-left: 30px;
    font-size: 33px;
  }
  &__right {
    width: 30%;
    height: 100%;
    line-height: 100px;
    text-align: right;
    .header__icon {
      color:$bw3;
      font-size:30px;
    }
    .sidebar {
      width:220px;
      height:100vh;
      position:fixed;
      top:0;
      right:-220px;
      z-index:4;
      box-shadow:0 0 10px rgba(0,0,0,0.5);
      box-sizing:border-box;
      display:none;
      text-align: center;
      background-color: #f1c7d6;
      overflow: scroll;
      a {
        text-decoration: none;
        color: $bw3;
      }
      &__inner {
        display:flex;
        justify-content: flex-end;
        align-items:center;
        padding: 0 15px;
        border-bottom: $bw3 1px solid;
        font-size: 28px;
        &__ttl {
          padding-left: 42px;
          &__icon {
            font-size:20px;
            color:$bw3;
          }
        }
      }
      &__txt {
        border-bottom: $bw3 1px solid;
        font-size: 20px;
        color: $bw3;
        &:hover {
          background-color: #e4a3ba;
        }
      }
    }
    
  }
}

.my-main {
  height: calc(100% - 100px);
  display: flex;
  padding: 40px 60px 0;
  &__left {
    height: 100%;
    width: 45%;
    &__profile {
      height: 40%;
      font-size: 25px;
      &__name {
        height: calc(100% / 3);
        padding: 40px 20px 0px;
        a {
          display: block;
          border-bottom: $bw3 1px solid;
        }
      }
      &__email {
        height: calc(100% / 3);
        padding: 40px 20px 0px;
        a {
          display: block;
          border-bottom: $bw3 1px solid;
          
        }
      }
      &__goal {
        height: calc(100% / 3);
        padding: 40px 20px 0px;
        a {
          display: block;
          border-bottom: $bw3 1px solid;
        }
      }
    }
    &__diary {
      height: 60%;
      width: 100%;
      padding: 10px;
      &__top {
        height: 60px;
        width: 100%;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        &__date {
          font-size: 20px;
        }
        &__point { /*ポイントに関する記述*/
          font-size: 24px;

          .star-rating {
            font-size: 0;
            white-space: nowrap;
            display: inline-block;
            width: 250px;
            height: 50px;
            overflow: hidden;
            position: relative;
            background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
            background-size: contain;
          }
          .star-rating i {
            opacity: 0;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 20%;
            z-index: 1;
            background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
            background-size: contain;
          }
          .star-rating input {
            -moz-appearance: none;
            -webkit-appearance: none;
            opacity: 0;
            display: inline-block;
            width: 20%;
            height: 100%;
            margin: 0;
            padding: 0;
            z-index: 2;
            position: relative;
          }
          .star-rating input:hover + i,
          .star-rating input:checked + i {
            opacity: 1;
          }
          .star-rating i ~ i {
            width: 40%;
          }
          .star-rating i ~ i ~ i {
            width: 60%;
          }
          .star-rating i ~ i ~ i ~ i {
            width: 80%;
          }
          .star-rating i ~ i ~ i ~ i ~ i {
            width: 100%;
          }
          .choice {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            text-align: center;
            padding: 20px;
            display: block;
          }
          *,
          ::after,
          ::before {
            height: 100%;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            text-align: center;
            vertical-align: middle;
          }
          body {
            font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
          }
          body::before {
            height: 100%;
            content: '';
            width: 0;
            background: red;
            vertical-align: middle;
            display: inline-block;
          }
        }
      }
      &__text {
        height: calc(100% - 100px);
        width: 100%;
        border: $bw3 1px solid;
        padding: 10px;
        border-radius: 5px;
        background-color: #fffff6;
        font-family: 'Shigoto';
        font-size: 20px;
      }
    }
  }
  &__right {
    height: 100%;
    width: 60%;
    &__top {
      width: 100%;
      height: 60px;
      text-align: right;
      padding: 10px;
      display: flex;
      justify-content: flex-end;
      a {
        font-size: 20px;
        padding: 5px;
      }
    }
    &__bottom {
      width: 100%;
      height: calc(100% - 60px);
      padding: 10px;
      display: flex;
      justify-content: flex-end;
    }
  }
}

.my-body {
  height: calc(100% - 100px);
  margin: 0 40px;
  padding: 80px 60px;
  text-align: center;
  font-size: 25px;
  &__name {
    height: 100px;
    width: 100%;
    .user-name {
      width: 65%;
      height: 60px;
      background-color: $wh1;
      border-radius: 5px;
      border: #aaa 1px solid;
      outline: 0;
      padding: 0 10px;
    }
  }
  &__email {
    height: 100px;
    width: 100%;
    .user-email {
      width: 65%;
      height: 60px;
      background-color: $wh1;
      border-radius: 5px;
      border: #aaa 1px solid;
      outline: 0;
      padding: 0 10px;
    }
  }
  &__box {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__goal {
      width: 69%;
      padding-left: 5px;
      padding-right: 43px;
      .user-goal {
        width: 100%;
        height: 100px;
        background-color: $wh1;
        border-radius: 5px;
        border: #aaa 1px solid;
        outline: 0;
        padding: 0 10px;
      }
    }
  }
  &__submit {
    margin: 0 auto;
    height: 60px;
    width: 60px;
    padding-top: 25px;
    .user-btn {
      outline: 0;
      background-color: #d8678f;
      height: 50px;
      width: 80px;
      border-radius: 5px;
      border: #fff 1px solid;
      color: #fff;
      &:hover {
        background-color: #a74e6d;
      }
    }
  }
}

.sidebar-bg {
  width:100vw;
  height:100vh;
  opacity:0;
  position:fixed;
  top:0;
  right:0;
  z-index:3;
  display:none;
  background-color: rgb(182, 144, 158);
}




